<div class="col-md-8">
    <%= form_for( :post, url: "/posts/create", method: 'post' ) do %>

    <% if @post.present? %>
    <% @post.errors.each do |attr, msg|%>
    <div class="alert alert-danger" role="alert">
        <%= attr%> <%= msg%>
    </div>
    <%end%>
    <%end%>

    <div class="form-group">
        <%= label(:post, :title, "Заголовок") %>
        <%= text_field(:post, :title, class: 'form-control') %>
    </div>
    <div class="form-group">
        <%= label(:post, :topic, "Выберите тему") %>
        <%= select(:post, :topic, options_from_collection_for_select(@topics, 'id', 'title'), {}, {class: "form-control"}) %>
    </div>
    <div class="form-group">
        <%= label(:post, :body, "Текст:") %>
        <%= text_area(:post, :body, class: "form-control", rows: "10")%>
    </div>

    <%= submit_tag("Создать", class: "btn btn-primary")%>

    <% end %>
</div>